* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #d9d9d9;
  font-family: "Times New Roman", Times, serif;
  color: #000;
}

.site-header {
  text-align: center;
  padding-top: 18px;
}

.site-header h1 {
  margin: 0;
  font-size: 115px;
  font-weight: 700;
  line-height: 1;
  font-weight: bold;
}

.main-nav {
  margin-top: 34px;
  margin-bottom: 24px;
}

.main-nav a {
  color: #0000ee;
  font-size: 22px;
  text-decoration: underline;
  margin: 0 42px;
}

main {
  width: 100%;
}

.intro-section {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  padding-left: 24px;
  padding-right: 24px;
}

.intro-text {
  width: 760px;
}

.intro-text p {
  margin: 0 0 26px 0;
  font-size: 28px;
  line-height: 1.18;
}

.featured-image {
  width: 620px;
  margin-top:6px;
  flex-shrink: 1;
}

.featured-image img {
  display: block;
  width: 98%;
  height: 490px;
  object-fit: cover;
  border: 2px solid #bdbdbd;
}

.media-grid {
  margin-top: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 120%;
}

.media-item {
  width: 100%;
  overflow: hidden;
}

.video-item video,
.image-item img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* first row after text */
.video-item video {
  height: 330px;
  width: 170%;
  padding-right: 12%;
}

.media-grid .image-item:nth-child(2) img {
  height: 330px;
  width: 70%;
  padding-inline-end: 0%;
}
/* 2nd row after text */
.media-grid .image-item:nth-child(3) img {
  height: 330px;
  width: 100%;
  
  
}

.media-grid .image-item:nth-child(4) img {
  height: 330px;
  width: 100%;  
  

  
}
/* 3rd row after text */
.media-grid .image-item:nth-child(5) img {
  height: 330px;
  width: 170%;
  padding-inline-end: 12%;
}

.media-grid .image-item:nth-child(6) img {
  height: 330px;
  width: 70%;
  padding-inline-end: 0%;
}
